*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing : border-box;
}
@keyframes fadeIn{from{opacity: 0;} to {opacity: 1;}}
@keyframes slide{from{opacity: 0; transform: translateX(100%);} to {opacity: 1; transform: translateX(0);}}
@keyframes slideRight{from{opacity: 0; transform: translateX(-100%);} to {opacity: 1; transform: translateX(0);}}
@keyframes slideDown{from{opacity: 0; transform: translateY(-100%);} to {opacity: 1; transform: translateY(0);}}
@keyframes rotate{from{opacity: 0; transform: rotateX(90deg);} to {opacity: 1; transform: translateX(0);}}
@keyframes jump{
	0%{ opacity: 0; transform: translateY(20%);}
	50%{ opacity: 1; transform: translateY(-10%);}
	100%{opacity: 1; transform: translateY(0);}
}
@keyframes opening{
	0%{ opacity: 0; transform: scale(0);}
	50%{ opacity: 1; transform: scale(1.1);}
	100%{opacity: 1; transform: scale(1);}
}
:root{ --theme: #16aa1b;}
a{ color: #fff;}
h1{ font-size: 2.8rem; margin-bottom: 10px;}
h2{ font-size: 1.8rem; margin-bottom: 10px;}
p{ font-size: 1.2rem; margin-bottom: 40px; line-height: 30px}

body{
	font-family: 'popins', sans-serif;
	color: #fff;
	overflow-x: hidden;
	animation: fadeIn 1s cubic-bezier(0.19, 1, 0.22, 1);
}
section{
	background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./pictures/bg.jpg) no-repeat center;
	background-size: cover;
	height: 100dvh;
}
header{
	width: 100%;
	padding: 25px 40px;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	animation: slideDown 1s;
}
nav{
	margin: 10px 0;
	display: flex;
	gap: 40px;
	align-items: center;
}
nav a{
	color: transparent;
	background: linear-gradient(to right, var(--theme) 50% , #fff 50%) 100% 0 /200%;
	background-clip: text;
	transition: scale 0.3s, background 0.5s;
	scale: 1.15;
}
nav a:hover{
	background-position: 0 0;
	scale: 1.25;
}
.btn-ctn{
	all: unset;
	padding: 15px 35px;
	border-radius: 5px;
	background-color: var(--theme);
	transition: 0.2s linear;
	cursor: pointer;
}
.btn-ctn:hover{
	filter: brightness(110%);
	color: #fff;
}
.btn-ctn:active{
	scale: 1.2 0.45;
}
.active{
	color: rgba(255,255,255,0.5);
	background: none;
}
.active:hover{
	color: rgba(255,255,255,0.5);
	scale: 1.15;
}
.content { 
    height: 100vh;
    display: flex; 
    align-items: center; 
    margin-left: 100px; 
    max-width: 800px; 
    animation: slide 1.5s; 
}
.cts-dts *{
	animation: slide 1s;
	animation-delay: calc(var(--i) * 100ms);
}
.about, .gallery{
	display: grid;
	grid-template-columns: 45% 55%;
	padding: 20px;
	gap: 10px;
	align-items: center;
	justify-items: center;
}
.abt-dts {
	text-align: justify;
	max-width: 500px;
	animation: slideRight 1s;
}
.abt-dts *{
	animation: slideRight 1s;
	animation-delay: calc(var(--i) * 100m);
}
.gallery img{
	width: 280px;
	height: 400px;
	margin-top: 50px;
	animation: slide 1s;
	filter: brightness(80%)
}
img.fir{rotate: -15deg }
img.sec{rotate: 20deg;}
.services{padding-top: 90px; text-align: center;}
.srv-dts{
	display: grid;
	grid-template-columns: repeat(3, 350px);
	justify-content: center;
	gap: 30px;
}
.srv-dts *{ border-radius: 10px;}
.s1{
	position: relative;
	overflow: hidden;
	height: 320px;
	border: 2px solid #fff;
	opacity: 0;
	cursor: pointer;
	animation: jump 1s forwards;
	animation-delay: calc(var(--i) * 100ms);
}
.s1 img{
	height: 100%;
	scale: 1.15;
	transition: 0.3s linear;
}
.imgcap{
	position: absolute;
	top: 100%;
	height: 100%;
	background-color: rgba(27, 110, 30, 0.5);
	backdrop-filter: blur(0);
	padding: 20px;
	transition: 0.5s linear;
}
.s1:hover .imgcap{
	backdrop-filter: blur(5px);
	top: 0;
}
.s1:hover img{
	scale: 1;
}
.contact{
	display: grid;
	grid-template-columns: 45% 55%;
	padding-top: 70px;
}
.cnt-dts{
	align-self: center;
	margin-left: 80px;
	max-width: 400px;
	animation: slideRight 1s;
	text-align: center;
	scale: 1.15;
}
fieldset{
	padding: 30px;
	border: none;
	border-left: 2px solid #fff;
}
fieldset *{ opacity: 0;}
input, textarea { 
    padding: 8px; 
    margin: 10px 15px; 
    height: 45px; 
    width: 80%; 
    font-size: 1.1rem; 
    color: #fff; 
    outline: none; 
    border-radius: 5px; 
    background-color: #fff5; 
    border: none; 
    animation: slide 0.5s ease forwards; 
    animation-delay: calc(var(--i) * 150ms); 
}

textarea{ height: 100px; resize: none;}

input:focus, input:valid,textarea:focus, textarea:focus{
	border: 2px solid #fff;
}
input::placeholder,
textarea::placeholder{
	color: #fffa;
}
input[type=submit]{
	cursor: pointer;
	transition: 0.2s linear;
	border: none;
}
input[type=submit]:hover{
	color: #000;
	background-color: #fff;
}
.login{
	display: flex;
	justify-content: center;
	text-align: center;
}
span{
	display: inline-block;
	width: 80%;
	text-align: start;
}
.login-form{
	position: absolute;
	top: 25%;
	width: 500px;
	padding-top: 50px;
	animation: opening 1s forwards;
	background-color: #fff2;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
	border-radius: 10px;
}
input[type=checkbox]{
	width: 15px;
	height: 15px;
	margin: 0 2px;
	accent-color: var(--theme);
}
.tt{
	color: var(--theme);
}
.log *{
	transform: rotateX(90deg);
	animation: rotate 1s forwards;
	animation-delay: calc(var(--i) * 100ms);
}

	
	
